@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 8vw;
}

.container{
    background-color: rgb(154, 154, 154);
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border-radius: 5rem;
    width: clamp(5rem, 60vw, 50rem);
    padding: 1rem;
}

.container>*{
    width: 10vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent;
}

.red{
    background-color: rgb(227, 113, 42);
}

.blue{
    background-color: rgb(39, 210, 233);
}

.green{
    background-color: rgb(141, 227, 12);
}

.purple{
    background-color: rgb(211, 110, 186);
}

h1::before{
    display: block;
    position: fixed;
    content: "";
    width: 1vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgb(227, 113, 42);
    transform: translate(50px, -100px);
    animation: colorsmash 1s ease both;
}



@keyframes colorsmash {
    0%{
        transform: translate(50px, -100px);
    }
    100%{ 
        transform: translate(0px, 100px);
    }
}

.cred{
    color: rgb(227, 113, 42);
}

.cblue{
    color: rgb(39, 210, 233);
}

.cgreen{
    color: rgb(141, 227, 12);
}

.cpurple{
    color: rgb(211, 110, 186);
}