@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container{
    background-color: darkslategray;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: default;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    padding-top: 3rem;
}

h1{
    font-size: 8vw;
    text-shadow: 0 2px 4px rgb(13 0 77 / 8%), 0 3px 6px rgb(13 0 77 / 8%), 0 8px 16px rgb(13 0 77 / 8%);
}

.container{
    background-color: rgb(154, 154, 154);
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    border-radius: 5rem;
    width: clamp(5rem, 60vw, 50rem);
    padding: 1rem;
}

.container>*{
    width: 10rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red{
    background-color: rgb(227, 113, 42);
}

.blue{
    background-color: rgb(39, 210, 233);
}

.green{
    background-color: rgb(141, 227, 12);
}

.purple{
    background-color: rgb(211, 110, 186);
}

.dot{
    display: block;
    position: fixed;
    width: 1vw;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.active{
    animation: colorsmash 0.4s cubic-bezier(0.4, 0, 1, 1);
}

@keyframes colorsmash {
    0%{
        transform: translate(0, 0) scale(0);
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{ 
        transform: translate(0, 13rem) scale(3);
        opacity: 0;
    }
}

.cred{
    color: rgb(227, 113, 42);
    transition: color 0.5s;
}

.cblue{
    color: rgb(39, 210, 233);
    transition: color 0.5s;
}

.cgreen{
    color: rgb(141, 227, 12);
    transition: color 0.5s;
}

.cpurple{
    color: rgb(211, 110, 186);
    transition: color 0.5s;
}